* {
  font-family: 'Poppins', sans-serif;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  //text-align: center;
}

.sub-header {
  width: 90%;
  color: white;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.about-us{
  //width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col{
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img{
  width: 100%;
}

.about-col h1{
  padding-top: 0;
}

.about-col p{
  padding: 15px 0 25px;
}
.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-width: 600;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}


.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

.red-btn{
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover{
  color: #fff;
}
