<div class="location text-box">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d174851.4722533092!2d23.
  47642998803961!3d46.78353529787132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4749
  0c1f916c0b8b%3A0xbbc601c331f148b!2sCluj-Napoca!5e0!3m2!1sro!2sro!4v1637126260663!5m2!1sro!2sro"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div class="contact-us">
  <div class="row">
    <div class="contact-col">
      <div>
        <i class="fa fa-home"></i>
        <span>
          <h5>Adresă</h5>
          <p>Cluj, Cluj-Napoca<br>Str. Mihail Kogălniceanu nr. 1</p>
        </span>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <span>
          <h5>Telefon</h5>
          <p>+40755056731</p>
        </span>
      </div>
      <div>
        <i class="fa fa-envelope-open"></i>
        <span>
          <h5>Mail</h5>
          <p>bac360@gmail.com</p>
        </span>
      </div>
    </div>
    <div class="contact-col">
      <form action="">
        <input type="text" placeholder="Introduce numele" required>
        <input type="email" placeholder="Introduce adresa de mail" required>
        <input type="text" placeholder="Introduce subiect" required>
        <textarea rows="8" placeholder="Mesaj" required></textarea>
        <button type="submit" class="hero-btn red-btn">Trimite mesaj</button>
      </form>
    </div>
  </div>
</div>


