<body class="header">
  <div class="loginbox">
    <img src="https://lh3.googleusercontent.com/proxy/YxmKtunGkIGCR8kcW9Whnur2Gm8GbLVGeTnHcJhzInrPa25xdWDZPGXkVhgvqK8ZhwhAta4vhCO2APSvarCajo1dRaQ3jnq7O80AcQXY3ZtQpvct08i29TV7FXg" class="avatar">
    <h1>Login Here</h1>
    <form>
      <p>Username</p>
      <input type="text" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" placeholder="Enter Password">
      <input type="submit" value="Login">
      <a href="#">Lost your password?</a><br>
      <a href="#">Don't have an account</a>
    </form>
  </div>
</body>
