.text-box{
  color: white;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 55%;
  left: 50%;
}

* {
  font-family: 'Poppins', sans-serif;
}

.column {
  //float: right;
  width: 80%;
  padding: 10px;
  height: 800px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

#grad {
  background-image: linear-gradient(red, yellow);
}
