<div class="text-box">
  <button (click)="modifyC9()" class="hero-btn">Clasa a 9a</button>
  <button (click)="modifyC10()" class="hero-btn">Clasa a 10a</button>
  <button (click)="modifyC11()" class="hero-btn">Clasa a 11a</button>
  <button (click)="modifyC12()" class="hero-btn">Clasa a 12a</button>

  <!--  class 9-->
  <div *ngIf="show_class9">
    <ng-container *ngFor="let chapter of chapterForClass9" class="row text-box">
      <iframe  class="column" [src]="chapter" width="300" height="200" frameborder="0"></iframe>
    </ng-container>
  </div>

<!--  &lt;!&ndash;  class 10&ndash;&gt;-->
<!--  <div *ngIf="show_class10">-->
<!--    <ng-container *ngFor="let chapter of chapters10" class="row text-box">-->
<!--      <iframe  class="column" [src]="chapter" width="300" height="200" frameborder="0"></iframe>-->
<!--    </ng-container>-->
<!--  </div>-->

<!--  &lt;!&ndash;  class 9&ndash;&gt;-->
<!--  <div *ngIf="show_class11">-->
<!--    <ng-container *ngFor="let chapter of chapters11" class="row text-box">-->
<!--      <iframe  class="column" [src]="chapter" width="300" height="200" frameborder="0"></iframe>-->
<!--    </ng-container>-->
<!--  </div>-->

<!--  &lt;!&ndash;  class 9&ndash;&gt;-->
<!--  <div *ngIf="show_class12">-->
<!--    <ng-container *ngFor="let chapter of chapters12" class="row text-box">-->
<!--      <iframe  class="column" [src]="chapter" width="300" height="200" frameborder="0"></iframe>-->
<!--    </ng-container>-->
<!--  </div>-->

</div>


