<!--Start-->
<div class="text-box">
  <h1 >Bac 360</h1>
  <p>
    Ești gata să începi pregătirea pentru Bacalaureat împreună cu noi?
  </p>
  <a routerLink="/about" class="hero-btn">Start</a>
</div>

<!--Ce oferim-->
<div class="course">
  <h1>Ce oferă această aplicație?</h1>
  <p>Materiale concepute de studenți foarte bine pregătiți.</p>
  <div class="row">
    <div class="course-col">
      <h3>Materiale</h3>
      <p>Materiale pentru  proba de matematică M1 de la Bacalaureat, concepute de studenții de la
        Facultatea de Matematică și Informatică din cadrul UBB.</p>
    </div>
    <div class="course-col">
      <h3>Teste</h3>
      <p>Pentru fiecare capitol există teste de verificare a cunoștințelor ce conțin întrebări grilă.
        De asemenea oferim explicațiile necesare, acolo unde este cazul.</p>
    </div>
    <div class="course-col">
      <h3>Verificare progres</h3>
      <p>De asemenea, vă oferim o aplicație care vă monitorizează progresul, care vă poate ajuta să
        evoluați și să vedeți la ce nivel sunteți.</p>
    </div>
  </div>

</div>

<section class="campus">
  <h1>Ce trebuie să faci tu?</h1>
  <p>Noi îți oferim materialele și suportul necesar, tu trebuie doar să muncești,
  să nu renunți, să exersezi și să înveți din greșeli.</p>
  <div class="row">
    <div class="campus-col">
      <img
        src="https://images.unsplash.com/photo-1576506542790-51244b486a6b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3R1ZHl8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80"/>
      <div class="layer">
        <h3>EXERSEAZĂ</h3>
      </div>
    </div>
    <div class="campus-col"><img src="https://i.pinimg.com/originals/4a/bc/f4/4abcf4f0a95ef4a51ba529865370b27d.png">
      <div class="layer">
        <h3>MUNCEȘTE</h3>
      </div>
    </div>
    <div class="campus-col">
      <img src="https://images.unsplash.com/photo-1597563104935-03914a270d87?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aGFwcHklMjBqdW1wfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80"/>
      <div class="layer">
        <h3>YOU CAN DO IT!</h3>
      </div>
    </div>
  </div>
</section>

<section class="facilities">
  <h3>Avantajele noastre</h3>
  <p>Ce plus aducem noi?</p>
  <div class="row">
    <div class="facilities-col">
      <img src="https://images.unsplash.com/photo-1551033406-611cf9a28f67?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHJvZ3JhbW1lcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80">
      <h3>Tot ce îți trebuie într-un singur loc</h3>
      <p>
        Această aplicație este gândită de niște studenți cu experiență, care s-au documentat mult și au implementat
        o aplicație care să vină în ajutorul vostru.
      </p>
    </div>
    <div class="facilities-col">
      <img src="https://images.unsplash.com/photo-1610050731821-f58da5e8abc6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHdyaXRlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80">
      <h3>Conținut proiectat de profesioniști</h3>
      <p>
        Materiale de pregătire și teste de evaluare concepute de studenți pasionați și muncitori,
        care vor să îți ofere materiale și conținut de calitate.
      </p>
    </div>
    <div class="facilities-col">
      <img src="https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cmVzZWFyY2h8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80">
      <h3>Documentare amănunțită</h3>
      <p>
        Înainte de proiectare și implementare, am studiat site-urile existente, am vorbit cu niște elevi,
        ne-am pus din nou în locul vostru, astfel aducându-vă ceva unic.
      </p>
    </div>
  </div>
</section>

<section class="testimonials">
  <h1>Ce spun elevii?</h1>
  <p>Niște păreri de la elevi.</p>
  <div class="row">
    <div class="testimonials-col">
      <img src="https://e7.pngegg.com/pngimages/150/458/png-clipart-woman-sitting-reading-book-student-reading-book-education-college-high-school-student-child-furniture.png">
      <div>
        <p>Încă de pe acum încep să mă îngrijorez cu privință la proba de matematică de la Bacalaureat,
        astfel când am auzit ce propune să facă această aplicație, am fost foarte încântată.
        Fiind a 9a, încă nu am parcurs prea mult din materie, dar să am șansa să aprofundez
        și să îmi verific cunoștințele pe măsură ce parcurg materia în clasă, îmi dă speranță
        și mă face să îmi schimb părerea despre această probă de la Bacalaureat.</p>
        <h3>Sara - clasa a 9a</h3>
      </div>
    </div>
    <div class="testimonials-col">
      <img
        src="https://img.lovepik.com/element/40167/4098.png_860.png">
      <div>
        <p>Doar ideea în sine mă încântă, toate materialele într-un singur loc,
        posibilitatea de a mă verifica la fiecare capitol, posibilitatea de a-mi verifica progresul.
        Cu siguranță aș folosi o astfel de aplicație și cu siguranță și colegii mei ar face asta.Fiind a 11a
        îmi doresc să încep încă de pe acum pregătirea pentru Bacalaureat, astfel, având materia structurată
        într-un singur loc, totul o să fie mult mai ușor.</p>
        <h3>Călin - clasa a 11a</h3>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <h1>Dacă dorești să ne transmiți ceva sau ai vreo întrebare</h1>
  <a href="" class="hero-btn" routerLink="/contact">CONTACTEAZĂ-NE</a>
</section>

<section class="footer">
  <h4>Despre noi</h4>
  <p>Un grup de studenți motivați și muncitori, care au implementat această aplicație în cadrul unui proiect colectiv.<br>
  Ne-am dorit foarte tare să venim în ajutorul elevilor, să le oferim sprijinul nostru.<br>
  De asemenea prin intermediul acestei aplicații ne-am combinat pasiunile, matematica și informatica.</p>
</section>
