<div class="header">
  <nav>
    <a routerLink="/home">
      <img  src="https://by3301files.storage.live.com/y4moDEIiu_YOuPTdofhQmwdQ-WwAFsa4_PJrPCd3s0AQlpsDaNM2ONBLKubnafgZDYz3Zd7yknZwxehfSr1pfKijjpcYPXeiA9EGSigfWZ0xF2eJHXsoJw3x17wbEHKSItmsJkHU3Ue6VHAA5aitYGSlmOYfBCc0bobla0kkwJkzc618sYezYKfR30ezDpNsERU?width=1800&height=1200&cropmode=none" />
    </a>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/home">ACASĂ</a></li>
        <li><a routerLink="/about">DESPRE</a></li>
        <li><a routerLink="/materials">MATERIALE</a></li>
        <li><a routerLink="/tests">TESTE</a></li>
        <li><a routerLink="/account">CONT</a></li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
