<div class="header">
  <nav>
    <a href="">
      <img src="https://logowiki.net/uploads/logo/s/svg-2.svg" alt="Logo"/>
    </a>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/home">ACASĂ</a></li>
        <li><a routerLink="/about">DESPRE</a></li>
        <li><a routerLink="/materials">MATERIALE</a></li>
        <li><a href="">TESTE</a></li>
        <li><a href="">SUBIECTE</a></li>
        <li><a href="">CONT</a></li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
