<div class="text-box">
  <button (click)="modifyC9()" class="hero-btn">Clasa a 9a</button>
  <button (click)="modifyC10()" class="hero-btn">Clasa a 10a</button>
  <button (click)="modifyC11()" class="hero-btn">Clasa a 11a</button>
  <button (click)="modifyC12()" class="hero-btn">Clasa a 12a</button>
  <br><br>

  <button (click)="showTest()" type="submit" class="hero-btn-white red-btn">Trigonometrie</button>
<div [hidden]="c9">
  <div  [hidden]="trigonometrie" class="row text-box">
    <img *ngFor="let question of test1" src="{{question.imageHref}}" height="200" width="1000"   alt="intrebare"/><br>
    <br>
    <div class="contact-col">
      <button (click)="onSubmit()" type="submit" class="hero-btn-black red-btn">Verificare</button>
    </div>
    <br>
    <div [hidden]="verificat">
      <button (click)="showSolution()" type="submit" class="hero-btn-black red-btn">Solutie</button>
    </div>
    <div [hidden]="checkTest">
      <img src="{{test1[0].explanationHref}}" height="800" width="1000"   alt="intrebare"/><br>
      <img src="{{test1[1].explanationHref}}" height="900" width="1000"   alt="intrebare"/><br>
      <img src="{{test1[2].explanationHref}}" height="400" width="1000"   alt="intrebare"/><br>
      <img src="{{test1[3].explanationHref}}" height="1300" width="1000"   alt="intrebare"/><br>
      <img src="{{test1[4].explanationHref}}" height="800" width="1000"   alt="intrebare"/><br>
    </div>
  </div>
</div>

</div>
